config.php
phone_book.json
phone_history.json
whitelist_names.json
whitelist_numbers.json
blacklist_names.json
blacklist_numbers.json
callstatus-example.txt
callstatus-example2.txt
xmlcallhistorysample.txt
callstatus-example.txt
callstatus-example2.txt
